@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: var(--font-regular);
}

/* Infinite scrolling animation */
@layer utilities {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }
  .animate-scroll {
    animation: scroll 25s linear infinite;
  }
}
